# Pobierane przy instalacji (nie trzymamy w repozytorium)
spacetimedb/
# Baza danych gry na komputerze z serwerem
dane/
# Klucze tokenow graczy: tajne, tworzone na komputerze z serwerem
klucze/
*.log
